.cart--item-list-container {
    border: 1px solid black;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
    min-height: 10rem;
    max-height: 15rem;
    width: 20rem;
    overflow-y: scroll;
}

.cart--item-list-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart--item-list-price > p {
    font-weight: bold;
}